:root {
  --blue: blue;
  --indigo: #5E1084;
  --purple: #6f42c1;
  --red: #fd397a;
  --orange: #ffb822;
  --yellow: #FFFA6F;
  --green: #1dc9b7;
  --teal: #20c997;
  --cyan: #5578eb;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #313a46;
  --primary: #5E1084;
  --secondary: #6c757d;
  --success: #1dc9b7;
  --info: #5578eb;
  --warning: #ffb822;
  --danger: #fd397a;
  --light: #e3eaef;
  --dark: #6c757d;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --header-height:  80px;
}

*,*::after,::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input,
button,
textarea,
select,
a {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  background: transparent;
  border: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button,a {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: 0 0 0 1px var(--indigo);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul,ol {
  list-style-type: none;
}

svg {
  fill: currentColor;
}

/*
 * CSS CLASS CUSTOM
 */

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.25rem;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.5rem;
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0.7rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1rem;
}
.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1.25rem;
}
.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 1.5rem;
}
.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 2rem;
}

.row {
  display: flex;
  align-items: stretch;
}

.grid {
  display: grid;
}

.row > * {
  align-self: stretch;
  height: initial;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}
.col-2 {
  width: calc(2 / 12 * 100%);
}
.col-3 {
  width: calc(3 / 12 * 100%);
}
.col-4 {
  width: calc(4 / 12 * 100%);
}
.col-5 {
  width: calc(5 / 12 * 100%);
}
.col-6 {
  width: calc(6 / 12 * 100%);
}
.col-7 {
  width: calc(7 / 12 * 100%);
}
.col-8 {
  width: calc(8 / 12 * 100%);
}
.col-9 {
  width: calc(9 / 12 * 100%);
}
.col-10 {
  width: calc(10 / 12 * 100%);
}
.col-11 {
  width: calc(11 / 12 * 100%);
}
.col-12 {
  width: calc(12 / 12 * 100%);
}
.col-auto {
  flex: 1 1 auto;
}

.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}

.items-center {
  align-items: center;
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}


/*
 * PAGE
*/
html {
	font-family: var(--font-family-sans-serif);
}

body {
  margin:  0;
  position: relative;
  max-width: 100%;
  height: 100%;
  color:  var(--white);
  overflow-x: hidden;
}

body::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, var(--red), var(--cyan));
}

body::after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

#app {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

#main-wrapper {
  position: relative;
  width: 100%;
  max-width: var(--breakpoint-xl);
  margin: auto;
  min-height: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

header {
  position: sticky;
  width: 100%;
  height: var(--header-height);
  display: flex;
  background: var(--indigo);
  top: 0;
  left: 0;
  z-index: 2;
}

/*LEFT HEADER*/
.nav-header {
  flex: none;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.nav-header a {
  padding: 1.2rem 1rem;
  display: inline-block;
}

.nav-header .logo h1 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  display: inline;
}

.nav-header .logo h1:nth-child(1) {
  display: none;
}


/*RIGHT HEADER*/
.header {
  /*position: relative;*/
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  height: max-content;
  background: transparent;
  padding: 1rem;
  padding-right: 0;
  border: none;
  color: inherit;
  font-size: 1.3rem;
  cursor: pointer;
  color: #ccc;
  display: flex;
  align-items: center;
}

.header__search > button {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  font-size: 1.5rem;
  background: rgba(0, 0, 0,0.5);
}

.header__search > i {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.header__search .dropdown-search {
  position: absolute;
  width: calc(100% - 1px);
  left: 0;
  top: calc(100% + 1px);
  display: none;
  font-size: 1rem;
}

.header__search .dropdown-search form {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--purple);
  border-radius: 3px;
  background: var(--indigo);
}

.header__search .dropdown-search form:focus-within {
  border-color: var(--red);
}

.header__search .dropdown-search input {
  width: 0;
  flex-grow: 1;
  padding: 1.5rem 0 1.5rem 2rem;
  border-radius: 3px 0 0 3px;
}

.header__search .dropdown-search input:focus,
.header__search .dropdown-search button:focus {
  box-shadow: none;
}

.header__search .dropdown-search button {
  flex: none;
  cursor: pointer;
  padding: .5rem 1rem;
  width: max-content;
  height: initial;
  align-self: stretch;
  margin-right: 0;
  border-radius: 0 3px 3px 0;
  border-left: 1px solid var(--purple);
  margin-left: 1rem;
}
.header__search .dropdown-search button:hover,
.header__search .dropdown-search button:active {
  background: var(--purple);
  border: 1px solid var(--indigo);
}

.header__search.active .dropdown-search {
  display: block;
}

.header__right {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
  position: relative;
}

.header__right .header-notified {
  position: relative;
  display: flex;
}

.header__right .header-notified i {
  font-size: 1.5rem;
}

.header__right .header-notified span {
  position: absolute;
  font-size: 0.7rem;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
}

.header-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: .9rem;
  margin-left: 1rem;
}

.header-user > :not([hidden]) ~ :not([hidden]) {
  margin-left: 10px;
}

.header-user .avatar {
  width: 34px;
  height: 34px;
  border-radius: 0.25rem;
  background: currentColor;
  flex: none;
}

.avatar svg {
  color: var(--indigo);
  width: 100%;
  height: 100%;
}

.header-user strong {
  font-weight: 700;
  letter-spacing: .05rem;
}

.header-user.active ~ .dropdown--profile {
  display: block !important;
}

.dropdown--profile {
  display: none !important;
  left:  initial !important;
  right: 0 !important;
  top:  100% !important;
  bottom: initial !important;
  min-width: 200px !important;
  animation: flip .7s both;
}

.dropdown {
  position: absolute;
  white-space: nowrap;
  right: initial;
  left: 0;
  top: 100%;
  right: initial;
  bottom: initial;
  min-width: 180px;
  background: var(--indigo);
  z-index: 1;
  border: 1px solid var(--purple);
  padding: 1rem 0;
  display: none;
  font-size: .9rem;
  font-weight: 400;
  border-radius: 3px;
}

.dropdown--right {
  left: initial !important;
  right: 0 !important;
  top: 100% !important;
  bottom: initial !important;
}

.dropdown .dropdown--child {
  left: 100% !important;
  right: initial !important;
  top: 0 !important;
  bottom: initial !important;
}

.dropdown--right .dropdown--child {
  left: initial !important;
  right: 100% !important;
  top: 0 !important;
  bottom: initial !important;
}

.dropdown--profile:hover {
  box-shadow:0 0 3px 0px var(--purple);
}

.dropdown li a {
  width: 100%;
  padding: .5rem 1.5rem;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: var(--indigo);
}

.dropdown li a:hover {
  color: var(--red);
  border-color: var(--purple);
}


/*SLIDE*/
.sidebar {
  position: fixed;
  left: 0;
  top: var(--header-height);
  bottom: 0;
  width: 240px;
  background: var(--indigo);
  font-size: .9rem;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  padding: 0 1rem;
}

.sidebar__menu > li {
  flex: 1 1 auto;
  text-align: left;
  position: relative;
}

.sidebar__menu li {
  position: relative;
  padding: .5rem 0;
}

.sidebar ul li ul {
  text-align: left;
  color: #ccc;
}

.sidebar__menu > li > a {
  padding: .75rem .5rem;
  width: 100%;
}

.sidebar__menu > .dropdown__parent::after {
  margin-top: .3rem;
}

.sidebar__menu li .dropdown {
  position: initial;
  display: block;
  padding: .5rem 0rem 0rem 1rem;
  border: none;
  font-size: .85rem;
  height: 0px;
  transition: height .3s ease-in-out;
  overflow: hidden;
}

.sidebar__menu > li > .dropdown {
  padding:  0 0 0 1rem;
}
.sidebar__menu li .dropdown a{
  padding: .5rem 0 .5rem 1rem;
  border: none;
}

.child-collapse::after {
  transform: translateY(-50%) rotate(0deg) !important;
}

.sidebar__menu .dropdown__parent::after {
  content: "\e9b9";
  pointer-events: none;
  position: absolute;
  top: 1.6rem;
  right: 0;
  transform: translateY(-50%) rotate(180deg);
  transition: transform .3s ease-in-out;

  /*boxicon*/
  font-family: 'boxicons' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 1.3rem;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*CONTENT-BODY*/
.content-body {
  position: relative;
  z-index: -1;
  /*background: rgba(0, 0, 0,0.5);*/
  padding: 2rem 1rem 1rem 1rem;
  height: max-content;
  width: 0;
  flex-grow: 1;
}

.content-body > .row--1 {
  flex-direction: column;
}

.content-body > .row--1 > [class^='col'] {
  width: 100%;
  padding: 0;
}

.content-body > .row--1 > :not(:first-of-type) {
  margin-top: 1rem;
}

.content-body > .row--4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content-body > .row--4 > [class^='col']{
  width: 100%;
}

.content-body > .row--5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row--5 .col .card .card__body .row {
  padding: 1px;
}

.row--5 .col {
  width: 100%;
}

.row--5 .col .card .card__body {
  overflow-x: auto;
}

.row--5 .card__body .walet {
  width: max-content;
  min-width: 100%;
}

.row--5 .card__body .walet .row {
  width: max-content;
  min-width: 100%;
}

.chart-wrapper {
  max-width: 100%;
  justify-content: center;
}

.row--4 .col:nth-child(1) .chart-wrapper {
  height: 200px;
}

.chart-wrapper .col-6:nth-child(1) {
  max-width: 250px;
  width: 80%;
  margin: auto;
}
.chart-wrapper .col-6:nth-child(2) {
  max-width: 100%;
  width: 100%;
}

.row--4 .chart-wrapper {
  flex-direction: column;
  gap: 1rem;
}

.currencies {
  display: flex;
  flex-direction: column;
}

.currencies > :not([hidden]) ~ :not([hidden]) {
  margin-top: 8px;
}

.currencies h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.currencies p {
  font-size: 0.9rem;
}

.currencies__icon {
  display: flex;
}

.currencies__icon span {
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: currentColor;
}

.currencies__icon span svg{
  width: 0.8rem;
  height: 0.8rem;
  color: var(--gray-dark);
}

.crpto-ticker {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.crpto-ticker .ticker-container {
  width: 100%;
  min-height: 3rem;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  padding: .5rem 1rem;
  overflow: hidden;
  display: flex;
}

.ticker-container > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.ticker-container > div:hover .ticker-container__body {
  animation-play-state: paused;
}

.ticker-container__body {
  font-size: .8rem;
  color: var(--gray);
  display: flex;
  width: max-content;
  height: 48px;
  align-items: center;
  animation: ticker-running 40s linear infinite;
}
.ticker-container__body:nth-child(2) {
  margin-left: 1.5rem;
}

.ticker-container__body > li:not(:last-of-type) {
  margin-right: 2rem;
}

.ticker-container__body li {
  display: flex;
  align-items: center;
}

.ticker-container__body li > *{
  flex: none;
  white-space: nowrap;
}

.ticker-container__body li > :not([hidden]) ~ :not([hidden]) {
  margin-left: .5rem;
}

.ticker-container__body > li > i {
  color: var(--data-color);
}

.ticker-container__body > li > span {
  display: flex;
  align-items: center;
}

.ticker-container__body > li > span.text-success i{
  transform: scaleY(-1) rotate(-90deg);
}

.ticker-container__body i {
  font-size: 1.3rem;
}


.grid--1 {
  gap: 2rem;
}

.grid__col .card__body > div {
  display: flex;
  align-items: center;
}

/*CARD*/
.card {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  height: 100%;
  border-radius: 5px;
}

.card__body {
  margin-top: 1rem;
  font-size: .9rem;
}

.card__body span i,
.card__body span svg,
.card__body button {
  color: var(--white);
}

.card__body h3{
  font-size: 1.5rem;
  font-weight: 500;
}

.card__body h4{
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card__body .icon{
  flex: none;
  display: block;
  text-align: center;
}
.card__body .icon svg{
  width: 2rem;
  color: var(--gray);
}

.card__body > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.5rem;
}

.card__body .badge {
  font-size: 10px;
  text-align: center;
}

.card__body .badge ~ span {
  font-size: 14px;
  text-align: center;
}

.card__body .progress {
  width: 100%;
  height: .4rem;
  border-radius: 9999px;
  background: var(--white);
}

.card__body .progress .progress__bar {
  height: 100%;
  border-radius: 9999px;
  background: var(--purple);
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: .5rem;
}

.card__header > h4 {
  white-space: nowrap;
}

.card__header__action {
  display: grid;
  margin-left: 1rem;
  gap: .5rem;
  width: 100%;
  justify-content: flex-end;
  grid-template-columns: repeat(auto-fit, 32px);
}
.card__header__action a {
  padding: .5rem;
  border-radius: 5px;
  background: #000;
  /*display: inline-flex;*/
}

.card__body .chart-wrapper > div:nth-child(1){
  display: flex;
  align-items: center;
}
.chart-wrapper.line {
  min-height: 200px;
}

.chart-wrapper__progress {
  display: flex;
  flex-direction: column;
  font-size: .85rem;
  color: var(--gray);
}

.chart-wrapper__progress .row p:first-child{
  margin-right: auto;
  padding-bottom: .5rem;
}

.chart-wrapper__progress > :not(:last-of-type) {
  margin-bottom: 1rem;
}

.card__body form {
  display: flex;
  flex-direction: column;
}
.card__body form > :not([hidden]) ~ :not([hidden]){
  margin-top: 1rem;
}

.card__body form input,
.card__body form select {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 5px;
  padding: 1rem;
  color: var(--white);
}

.card__body form select {
  box-shadow: 0 0 0 1px var(--indigo);
}

.card__body form button[type="submit"] {
  width: max-content;
  padding: .75rem 1rem;
  background: var(--indigo);
  border: none;
  color: var(--white);
  border-radius: 5px;
}

.walet > :not([hidden]) ~ :not([hidden]) {
  margin-top: 1.3rem;
}

.walet .row {
  height: 3rem;
}

.walet .row span,
.walet .row button {
  flex: none;
  width: 3rem;
  background: var(--cyan);
  display: grid;
  place-items: center;
  border-radius: 5px 0 0 5px;
}

.walet .row:nth-child(1) span {
  background: #f7931a;
}

.walet .row span svg{
  width: 1rem;
}

.walet .row input {
  width: 0;
  flex-grow: 1;
  background: rgba(0,0,0,0.4);
  padding: 1rem;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: transparent;
  color: var(--white);
}
.walet .row input:focus {
  box-shadow: none;
  border-color: var(--indigo);
}

.walet .row button {
  border: none;
  border-radius: 0 5px 5px 0;
  background: var(--purple);
}


.transfer .row{
  height: 3rem;
}

.transfer .row span {
  flex: none;
  width: 3rem;
  border-radius: 5px 0 0 5px;
  background: var(--indigo);
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.transfer .row input {
  border-radius: 0 5px 5px 0;
}
.transfer .row select {
  border-radius: 0 5px 5px 0;
  padding: 0 1rem;
  width: max-content;
  background: var(--indigo);
  appearance: none;
}
.transfer button {
  padding: .75rem 2rem !important;
}

.card__body li {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
}

.card__body li:not(:first-of-type) {
  padding-top: .8rem;
}
.card__body li strong{
  font-weight: 400;
}
.card__body li [class^="text-"]{
  font-size: .8rem;
}

.card__body table {
  width: 100%;
}

.card__body table td {
  padding: .5rem 0;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  white-space: nowrap;
}

.card__body table th{
  font-weight: 400;
  text-align: left;
  color: var(--cyan);
  text-transform: uppercase;
  padding-bottom: .5rem;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

.card__body table td:not(:first-of-type),
.card__body table th:not(:first-of-type) {
  padding-left: 1rem;
}

/*FOOTER*/
.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem 0;
  font-size: .9rem;
}

.copyright a:hover {
  color: var(--purple);
}











/*
 * Repositon SM
 */
@media (max-width: 575px) {
}

/*
 * Repositon SM
 */
@media (min-width: 576px) {
  .nav-header a {
    padding: 1.2rem 2rem;
  }
  .header-user {
    margin-left: 1.5rem;
  }

  .grid--1 {
    grid-template-columns: repeat(2,1fr);
  }

  .chart-wrapper {
    justify-content: space-between;
  }


  .chart-wrapper .col-6:nth-child(1) {
    max-width: 250px;
    width: calc(50% - 2rem);
    margin: initial;
  }
  .chart-wrapper .col-6:nth-child(2) {
    max-width: 300px;
    width: calc(50% - 2rem);
  }

  .row--4 .chart-wrapper {
    flex-direction: row;
    gap: 1rem;
  }
}

/*
 * Repositon MD
 */
@media (min-width: 768px) {
	.nav-header a {
    padding: 1.2rem 5rem;
    width: 240px;
  }
  .nav-header .logo h1:nth-child(1) {
    display: initial;
  }
  .nav-header .logo h1:nth-child(2) {
    display: none;
  }

  .header {
    position: relative;
  }

  .card {
    padding: 2rem;
  }

  .chart-wrapper {
    justify-content: space-around;
  }

  .content-body > .row--5 {
    flex-direction: row;
    gap: 2rem;
  }

  .row--5 .col {
    width: calc(50% - 1rem);
  }
}

/*
 * Repositon LG
 */
@media (min-width: 992px) {
  .sidebar {
    position: sticky;
    bottom: 0;
    right: initial;
    left: 0;
    top: var(--header-height);
    display: none;
    height: calc(100vh - var(--header-height));
    overflow: auto;
  }
  .sidebar.show {
    display: block;
  }

  .sidebar__menu {
    height: max-content;
  }

  .content-body {
    background: rgba(0, 0, 0,0.5);
  }

  .content-body > .row--4 {
    flex-direction: row;
    justify-content: space-between;
  }

  .content-body > .row--4 > [class^='col']{
    width: calc(50% - 1rem);
    /*flex: none;*/
  }


  .row--4 .col:nth-child(1) .chart-wrapper {
    height: 300px;
  }
}

/*
 * Repositon XL
 */
@media (min-width: 1200px) {
  .nav-header a {
    padding: 1.2rem 2rem;
    width: initial;
  }
  .header__search >  button {
    display: none;
  }

  .dropdown {
    position: absolute;
    white-space: nowrap;
    right: initial;
    left: 0;
    top: 100%;
    right: initial;
    bottom: initial;
    min-width: 180px;
    background: var(--indigo);
    z-index: 1;
    border: 1px solid var(--purple);
    padding: 1rem 0;
    display: none;
    font-size: .9rem;
    font-weight: 400;
    border-radius: 3px;
  }

  .dropdown--right {
    left: initial !important;
    right: 0 !important;
    top: 100% !important;
    bottom: initial !important;
  }

  .dropdown .dropdown--child {
    left: 100% !important;
    right: initial !important;
    top: 0 !important;
    bottom: initial !important;
  }

  .dropdown--right .dropdown--child {
    left: initial !important;
    right: 100% !important;
    top: 0 !important;
    bottom: initial !important;
  }

  .dropdown--profile:hover {
    box-shadow:0 0 3px 0px var(--purple);
  }

  .dropdown li a {
    width: 100%;
    padding: .5rem 1.5rem;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--indigo);
  }

  .dropdown li a:hover {
    color: var(--red);
    border-color: var(--purple);
  }

  /*SLIDE*/
  .sidebar {
    position: sticky;
    bottom: initial;
    width: 100%;
    transform: none;
    display: block;
    box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.15);
    z-index: 1;
    overflow: initial;
    height: initial;
  }

  .sidebar__menu {
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
  }

  .sidebar__menu li .dropdown {
    position: absolute;
    display: none;
    overflow: initial;
    border: 1px solid var(--purple);
    padding: 0;
  }

  .sidebar__menu > :not([hidden]) ~ :not([hidden]) {
    border-left: 1px solid rgba(0, 0, 0, 0.15);
  }

  .sidebar__menu > li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
  }

  .sidebar__menu li {
    position: relative;
  }

  .sidebar ul li ul {
    text-align: left;
  }

  .sidebar__menu > li > a {
    padding: .75rem .5rem;
    width: 100%;
  }
  .sidebar__menu li:hover > .dropdown {
    display: block;
  }

  .sidebar__menu .dropdown__parent::after {
    content: "\ec8f";
    font-size: .9rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }

  .sidebar__menu .dropdown--right .dropdown__parent::after {
    content: "\ec8c";
  }

  .sidebar__menu > .dropdown__parent::after {
    content: "\ec8f";
    top: 50%;
    right: .25rem;
    transform: translateY(-70%) rotate(90deg) !important;
  }

  /*CONTENT-BODY*/
  .content-body {
    padding: 2rem 2.5rem 1rem 2.5rem;
  }

  .content-body > .row--1 {
    flex-direction: row;
  }

  .content-body > .row--1 > :nth-child(1) {
    width: calc(4 / 12 * 100%);;
  }

  .content-body > .row--1 > :nth-child(2) {
    width: calc(8 / 12 * 100%);;
  }

  .content-body > .row--1 > :not(:first-of-type) {
    margin-top: 0;
}

  .grid--1 {
    grid-template-columns: repeat(4,1fr);
  }
}

/*
 * Repositon 2XL
 */
@media (min-width: 1440px) {
	
}



/*
 * KEY FRAMES
 */

@keyframes flip {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotateX(-20deg);
  }
  60% {
    opacity: 1;
    transform: perspective(400px) rotateX(10deg);
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

@keyframes ticker-running {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1.5rem));
  }
}